<%- include('../includes/head.ejs') %>
    </head>
    
    <body>
        <%- include('../includes/navigation.ejs') %>
    <main>
            <ul>
        <% if (products.length > 0) { %>
                <% products.forEach(p => { %>
                    <li>
                         <h1><%= p.title %> </h1>
                         <h2>Quantity: (<%= p.quantity %>)</h2>
                         <form action="/cart-delete-item" method="POST">
                            <input type="hidden" value="<%= p._id %>" name="productId">
                            <button class="btn" type="submit">Delete</button>
                         </form>
                        </li>
                <% }); %>  
            </ul>
            <br>
            <form action="/create-order" method="POST">
                <button class="btn" type="submit">Checkout</button>
            </form>
        <% } else { %>
            <h1>No products in cart!</h1>
            <% } %>
    </main>
    
    <%- include('../includes/end.ejs') %>