<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css"></head>
    
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                        </li>
                    <% }) %>
                </ul>
                <div>
                    <h2 class="centered">Total: <%= totalSum %></h2>
                </div>
                <div class="centered">
                    <button id="order-btn" class="btn">ORDER</button>
                    <script src="https://js.stripe.com/v3/"></script>
                    <script>
                        var stripe = Stripe('pk_test_51NrGpED5R5Wh4Wfog0vim24FHlzUTJS4Jmle9BLMpK98ZsAP0utLnGjz6Z46G5q8pKs5MBChr9lNRJT9H1SJD8Ds001aSmdUfl');
                        var orderBtn = document.getElementById('order-btn');
                        orderBtn.addEventListener('click',function(){
                            // we wont redirect to our server, instead to a stripe page
                            stripe.redirectToCheckout({
                                sessionId: '<%= sessionId %>'
                            })
                        })
                    </script>
                </div>
        </main>
        <%- include('../includes/end.ejs') %> 